.main {
    position: relative;
    width: 100vw;
}

.filter {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    transition: all 300ms step-end;
    pointer-events: none;

    overflow: hidden;
}

